In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/raw/road_trip_data.csv")

# Display first 5 rows
df.head()

,start_city,end_city,distance_km,travel_time_hr,fuel_cost,traffic_level
0,Bangalore,Mysore,145,3.5,900,Medium
1,Bangalore,Chennai,350,7.5,2400,High
2,Bangalore,Hyderabad,570,10.0,3800,Medium
3,Mysore,Coorg,120,3.0,850,Low
4,Chennai,Pondicherry,150,3.2,1000,Low

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   start_city      6 non-null      object
 1   end_city        6 non-null      object
 2   distance_km     6 non-null      int64
 3   travel_time_hr  6 non-null      float64
 4   fuel_cost       6 non-null      int64
 5   traffic_level   6 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 416.0+ bytes

In [3]:
df.describe()

       distance_km  travel_time_hr    fuel_cost
count     6.000000        6.000000     6.000000
mean    315.833333        6.366667  2191.666667
std     209.962298        3.620313  1520.005482
min     120.000000        3.000000   850.000000
25%     146.250000        3.275000   925.000000
50%     250.000000        5.500000  1700.000000
75%     507.500000        9.375000  3450.000000
max     570.000000       11.000000  4200.000000