In [1]:
import pandas as pd

# Load raw data
df = pd.read_csv("../data/raw/road_trip_data.csv")

# Create new features
df["avg_speed"] = df["distance_km"] / df["travel_time_hr"]
df["cost_per_km"] = df["fuel_cost"] / df["distance_km"]

# View new features
df.head()

,start_city,end_city,distance_km,travel_time_hr,fuel_cost,traffic_level,avg_speed,cost_per_km
0,Bangalore,Mysore,145,3.5,900,Medium,41.428571,6.206897
1,Bangalore,Chennai,350,7.5,2400,High,46.666667,6.857143
2,Bangalore,Hyderabad,570,10.0,3800,Medium,57.000000,6.666667
3,Mysore,Coorg,120,3.0,850,Low,40.000000,7.083333
4,Chennai,Pondicherry,150,3.2,1000,Low,46.875000,6.666667

In [2]:
df.to_csv("../data/processed/road_trip_features.csv", index=False)
print("Feature engineering completed")

Feature engineering completed